body {
  padding: 0;
  margin: 0;
  background-color: #999;
}

div#container {
  margin: 5px 5px 0 5px;
  width: 99.67%;
}

div#right {
  float: right;
  width: 15%;
}

div#left {
  float: left;
  margin-right: 15%;
}

div#header {
  height: 20px;
  padding: 5px;
  background-color: #989;
}

div#links {
  float: right;
  display: inline;
}

div#logo {
  float: left;
}
